<tr class="vertical-middle">

    {#
    * id - дентификатор профиля
    * event - дентификатор события профиля
    * user_profile_url - адрес персональной страницы
    * usr - идентификатор пользовтаеля

    * user_profile_status - статус модерации пролфиля
    * user_profile_active - статус текущей активности профиля
    * user_profile_username - username пользователя
    * user_profile_location - местоположение
    * user_profile_avatar_name - название файла аватарки профиля
    * user_profile_avatar_dir - директория файла прафиля
    * user_profile_avatar_ext - расширение файла
    * user_profile_avatar_cdn - флаг загрузки CDN
    *
    * account_id - идентификтаор аккаунта
    * account_email - email аккаунта
    * user_profile_type - тип профиля пользователя
    #}


    <td class="text-nowrap">
        {# Пользовательское меню #}
        {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
    </td>


    <td class="w-25">

        <div class="d-flex">

            {# Обложка #}
            {% set image_path = '/assets/img/blank.svg' %}

            {% if item.user_profile_avatar_ext is defined and item.user_profile_avatar_ext is not null %}
                {% set img_host =  item.user_profile_avatar_cdn == true  ? CDN_HOST : '' %}
                {# {% set img_table = '/upload/' ~ constant('BaksDev\\Payment\\Entity\\Cover\\PaymentCover::TABLE') %} #}
                {% set img_dir = item.user_profile_avatar_name %}
                {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ item.user_profile_avatar_ext %}
                {% set image_path = img_host ~ img_dir ~ img_file %}
            {% endif %}


            <a href="{{ path('users-profile-user:admin.newedit.edit', { id: item.event }) }}" class="pe-3">
                <div class="rounded-circle bg-contain lazy p-1" style="width: 50px; height: 50px;"
                     data-bg="{{ image_path }}">
                </div>
            </a>

            <div class="ms-0">

                {# Username #}
                <a href="{{ path('users-profile-user:admin.newedit.edit', { id: item.event }) }}"
                   class="text-decoration-none"
                >{{ item.user_profile_username }}</a>

                <div class="text-muted text-nowrap pointer copy" data-copy="{{ item.id }}">

					<span class="me-3">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                             width="14"
                             height="14"
                             fill="currentColor"
                             viewBox="0 0 115.77 122.88"
                        >
							<path d="M89.62,13.96v7.73h12.19h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02v0.02 v73.27v0.01h-0.02c-0.01,3.84-1.57,7.33-4.1,9.86c-2.51,2.5-5.98,4.06-9.82,4.07v0.02h-0.02h-61.7H40.1v-0.02 c-3.84-0.01-7.34-1.57-9.86-4.1c-2.5-2.51-4.06-5.98-4.07-9.82h-0.02v-0.02V92.51H13.96h-0.01v-0.02c-3.84-0.01-7.34-1.57-9.86-4.1 c-2.5-2.51-4.06-5.98-4.07-9.82H0v-0.02V13.96v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07V0h0.02h61.7 h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02V13.96L89.62,13.96z M79.04,21.69v-7.73v-0.02h0.02 c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v64.59v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h12.19V35.65 v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07v-0.02h0.02H79.04L79.04,21.69z M105.18,108.92V35.65v-0.02 h0.02c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v73.27v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h61.7h0.02 v0.02c0.91,0,1.75-0.39,2.37-1.01c0.61-0.61,1-1.46,1-2.37h-0.02V108.92L105.18,108.92z"></path>
						</svg>
					</span>

                    <strong>ID:</strong> {{ item.id }}

                </div>


                {% if item.user_profile_location %}
                    <div class="text-muted small d-flex align-items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="12"
                             height="12"
                             fill="currentColor"
                             viewBox="0 0 16 16"
                        >
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>

                        {{ item.user_profile_location }}
                    </div>
                {% endif %}

            </div>
        </div>
    </td>

    <td>

        {% if item.account_email %}
            <div class="d-flex gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                </svg>

                <a href="{{ path('auth-email:admin.newedit.edit', { id: item.account_id }) }}"
                   class="text-decoration-none ms-2"
                >{{ item.account_email }}</a>
            </div>
        {% endif %}


        {% if item.telegram_id is defined and item.telegram_id is not null %}
            <div class="d-flex gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-telegram" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.287 5.906q-1.168.486-4.666 2.01-.567.225-.595.442c-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294q.39.01.868-.32 3.269-2.206 3.374-2.23c.05-.012.12-.026.166.016s.042.12.037.141c-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8 8 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629q.14.092.27.187c.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.4 1.4 0 0 0-.013-.315.34.34 0 0 0-.114-.217.53.53 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09"/>
                </svg>

                <a href="{# {{ path('auth-email:admin.newedit.edit', { id: item.account_id }) }} #}"
                   class="text-decoration-none ms-2"
                >{{ item.telegram_firstname }}</a>
            </div>
        {% endif %}

    </td>

    <td>
        {{ item.user_profile_type }}
    </td>

    <td class="text-center">
        {% if item.user_profile_active %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-success"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
        {% else %}
            ---
        {% endif %}
    </td>

    <td class="text-center">
        {{ user_profile_status(item.user_profile_status) }}
    </td>
    {% if is_granted('ROLE_ADMIN') %}

        <td class="text-center">
            {# Прейти в режим пользователя #}
            <a href='{{ path('users-user:admin.switch', { id : item.usr  }) }}'
               class="badge text-bg-light text-decoration-none">
                Авторизоваться
            </a>
        </td>
    {% endif %}

</tr>
